---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not found">
    <div id="center">
        <h1>404</h1>
        <p>Page not found, just stick to the basics pal!</p>
    </div>
</Layout>

<style>
    #center {
        text-align: center;
    }

    h1 {
        font-size: 5rem;
    }
</style>