---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Fouls">
    <h2>The following are considered fouls by the Unified rules of MMA:</h2>
    <ul>
        <li>Grabbing the fence</li>
        <li>Holding opponent’s shorts or gloves</li>
        <li>Head-butting</li>
        <li>Biting or spitting at an opponent</li>
        <li>Hair pulling</li>
        <li>Fish-hooking</li>
        <li>Intentionally placing a finger into any orifice, or into any cut or laceration of an opponent</li>
        <li>Eye gouging of any kind</li>
        <li>Groin attacks</li>
        <li>Downward pointing of elbow strikes</li>
        <li>Small joint manipulation</li>
        <li>Strikes to the spine or back of the head or anything behind the ears</li>
        <li>Throat strikes of any kind, including, without limitation, grabbing the trachea</li>
        <li>Fingers outstretched towards opponent's face/eyes</li>
        <li>Clawing, pinching, twisting the flesh</li>
        <li>Kicking and knee-striking the head of a grounded opponent</li>
        <li>Stomping an opponent on the ground</li>
        <li>Spiking an opponent to the canvas on his or her head or neck</li>
        <li>Swearing or offensive language in the cage</li>
        <li>Throwing opponent out of the ring/fighting area</li>
        <li>Any unsportsmanlike conduct that causes an injury to opponent</li>
        <li>Attacking an opponent during a break</li>
        <li>Attacking an opponent who is under the care of the referee</li>
        <li>Timidity (excessively avoiding contact, consistent dropping of mouthpiece, or faking an injury)</li>
        <li>Interference from a mixed martial artist's cornerman</li>
        <li>Flagrant disregard of the referee’s instructions</li>
        <li>Attacking an opponent after the bell has sounded the end of the round</li>
    </ul>
</Layout>

<style>
    html {
        padding: 20px;
    }
</style>