---
// src/pages/index.astro

import fs from "fs";
import path from "path";
import VideoCard from "../components/VideoCard.astro";
import Layout from "../layouts/Layout.astro";
import Introduction from "../components/Introduction.md"
import Navbar from "../components/Navbar.astro";
import jsonData from "../data/data.json"
---

<Layout title="TheTechniqueIndex">
<main>
	<Introduction/>
	<div id="grid">
		{jsonData.map((data) => <VideoCard {...data} />)}
	</div>
</main>
</Layout>

<style>
	#grid {
		display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 10px;
        font-size: 1.2rem;
	}

</style>
